In [3]:
import pandas as pd
df = pd.read_json("reddit_jokes.json")

In [5]:
df.head()

,body,id,score,title
0,"Now I have to say ""Leroy can you please paint ...",5tz52q,1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,5tz4dd,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,5tz319,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,5tz2wj,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,5tz1pc,0,You hear about the University book store worke...

In [6]:
df.describe()

               score
count  194553.000000
mean      118.223255
std       936.231277
min         0.000000
25%         0.000000
50%         3.000000
75%        16.000000
max     48526.000000